body {
    background-color: lightgray;
    width: 960px;
    margin: 0 auto;
  }

  h1 {
    color: red;
  }

  #form_container {
    display: grid;
  
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 0.3em;
    grid-row-gap: 0.3em;
    grid-auto-rows: minmax(300px, auto);
    align-items: center;
  }

  .fall {
    grid-column: 1 / span 1;
  }

  .winter {
    grid-column: 2;
  }

  .spring {
    grid-column: 1 / span 1;
    grid-row: 2;
  }

  textarea { 
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;;
    margin: 1rem;
    border: none;
    /* overflow: auto; */
    outline: none;
    
    resize: none;
  }

  button{
    margin: 2em;
  }
